* {
  font-size: 16px;
  font-family: "Roboto";
  margin: 0;
}

.main-nav {
  display: none;
  position: fixed;
  flex-direction: column;
  height: 100vh;
  width: 250px;
  background-color: #151a1e;
  border-right: 3px solid white;
}

.main-nav p {
  font-size: 90px;
  color: white;
  padding-left: 10px;
  font-family: "Tangerine";
}
.main-nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  color: white;
  padding-top: 25px;
  padding-left: 17px;
  margin: 0;
}
.main-nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  padding-bottom: 30px;
  font-size: 1.3em;
}
.main-nav a:hover {
  text-decoration: underline;
  text-decoration-color: orangered;
}
.main-nav .logo-container a:hover {
  text-decoration: none;
}
.main-nav .logo-container a:hover p {
  color: orangered;
}
.main-nav .logo-container a:hover div {
  border-color: orangered;
}
.main-nav .social-media-links {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  flex-direction: column;
  padding-left: 10px;
}
.main-nav .social-media-links .social {
  display: flex;
  flex-direction: row;
  border-top: 3px solid white;
  padding-top: 10px;
}
.main-nav .social-media-links a {
  padding-right: 25px;
  padding-bottom: 30px;
}
.main-nav .social-media-links a i {
  font-size: 32px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  font-family: "Tangerine";
}

.logo {
  display: flex;
  border: 6px solid white;
  border-radius: 50%;
  height: 190px;
  width: 190px;
  align-items: center;
  font-family: "Tangerine";
}

.banner-container {
  display: flex;
  flex-direction: column;
  background-image: url("../img/stars-67616.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  color: white;
}
.banner-container h2, .banner-container h1, .banner-container h3 {
  text-align: center;
  vertical-align: middle;
}
.banner-container h2 {
  padding-top: 275px;
  font-size: 35px;
}
.banner-container h1 {
  padding-top: 15px;
  font-size: 100px;
}
.banner-container h3 {
  padding-top: 15px;
  font-size: 20px;
}

@media screen and (min-width: 992px) {
  main {
    margin-left: 250px;
    width: calc(100vw - 250px);
  }

  .main-nav {
    display: flex;
  }
}
main {
  overflow-y: scroll;
}

.main-content {
  height: 100vh;
  background-color: #202A44;
  border-right: 3px solid white;
}
.main-content .small-banner {
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-color: white;
  height: 25vh;
  width: 100%;
  color: white;
}
.main-content .small-banner h1 {
  text-align: left;
  font-size: 100px;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  font-family: "Tangerine";
}
.main-content .about {
  background-image: url("../img/aboutme2.jpeg");
  color: #202A44;
}
.main-content .code {
  background-image: url("../img/code.jpg");
  background-size: cover;
}
.main-content .scs {
  background-image: url("../img/learning.jpeg");
  background-color: #0054af;
}

.main-content-two {
  height: 300vh;
  background-color: #202A44;
  border-right: 3px solid white;
}

.about-content {
  display: flex;
  flex-direction: column;
  height: 68%;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  margin-top: 20px;
  border-bottom: 6px solid orangered;
  justify-content: space-between;
}
.about-content p {
  text-align: center;
  padding-top: 2%;
  color: #151a1e;
}
.about-content .html-css-sass, .about-content .html-logo, .about-content .css-logo, .about-content .sass-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: flex-end;
}
.about-content .html-css-sass .html-logo, .about-content .html-logo .html-logo, .about-content .css-logo .html-logo, .about-content .sass-logo .html-logo {
  display: flex;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #e75822;
  color: white;
  align-items: center;
}
.about-content .html-css-sass .html-logo i, .about-content .html-logo .html-logo i, .about-content .css-logo .html-logo i, .about-content .sass-logo .html-logo i {
  font-size: 45px;
}
.about-content .html-css-sass .css-logo, .about-content .html-logo .css-logo, .about-content .css-logo .css-logo, .about-content .sass-logo .css-logo {
  display: flex;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #1b73ba;
  color: white;
  align-items: center;
}
.about-content .html-css-sass .css-logo i, .about-content .html-logo .css-logo i, .about-content .css-logo .css-logo i, .about-content .sass-logo .css-logo i {
  font-size: 45px;
}
.about-content .html-css-sass .sass-logo, .about-content .html-logo .sass-logo, .about-content .css-logo .sass-logo, .about-content .sass-logo .sass-logo {
  display: flex;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #cd6699;
  color: white;
  align-items: center;
}
.about-content .html-css-sass .sass-logo i, .about-content .html-logo .sass-logo i, .about-content .css-logo .sass-logo i, .about-content .sass-logo .sass-logo i {
  font-size: 45px;
}

.code-content {
  font-weight: bold;
  display: flex;
  height: 68%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  background-color: white;
  border-bottom: 6px solid orangered;
  border-radius: 5px;
  justify-content: center;
}
.code-content h1 {
  display: flex;
  font-size: 60px;
  margin-top: auto;
  margin-bottom: auto;
}

.scs-content {
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
}
.scs-content div {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-bottom: 6px solid orangered;
  border-radius: 5px;
  margin-left: 20px;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}
.scs-content ul {
  margin: 0;
  list-style-type: none;
}
.scs-content ul li {
  text-indent: -5px;
}
.scs-content ul > li:before {
  content: "-";
  text-indent: -5px;
}

.cards {
  display: flex;
  flex-direction: column;
}
.cards .row, .cards .row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 20px;
}
.cards .card1, .cards .card2, .cards .card3, .cards .card4, .cards .card5, .cards .card6 {
  display: flex;
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  height: 240px;
  margin-bottom: 20px;
  margin-left: 389px;
  margin-right: 389px;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-top: 3px solid white;
  border-radius: 5px;
  background-image: url("../img/coming-5942155.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #151a1e;
}
.form-container .touch, .form-container .form {
  padding: 20px;
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  color: white;
}
.form-container .touch {
  flex-direction: column;
}
.form-container .touch h1 {
  font-weight: 900;
}
.form-container .form {
  padding: 20px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 1;
  color: white;
}
.form-container .form-element {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.form-container input[type=email], .form-container input[type=name], .form-container input[type=telephonenumber], .form-container textarea {
  display: flex;
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
