//@import './partials/main';
@import './partials/variables';
@import './partials/header';
//@import './partials/nav';
//@import './partials/banner';
//@import './partials/cards';


main {
    height: 100vh;
    width: calc(100vw - 250px);
    padding-left: 250px;
    background-color: #202A44;
}

