.cards {
    display: flex;
    flex-direction: column;
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 20px;
    }
    .card1,
    .card2,
    .card3,
    .card4,
    .card5,
    .card6 {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        color: whitesmoke;
        height: 315px;
        margin-bottom: 20px;
        margin-left: 15px;
        margin-right: 15px;
        border-bottom: 3px solid white;
        border-left: 3px solid white;
        border-right: 3px solid white;
        border-top: 3px solid white;
        border-radius: 5px;
        background-color: white;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        overflow: hidden;
        &:hover {
            border-bottom: 3px solid orangered;
        }
    }
}

.card1 {
    background-image: url("../img/netmatters.png");
}

.card2,
.card3,
.card4,
.card5,
.card6 {
    background-image: url("../img/coming-5942155.jpg");
}

@media screen and (min-width: 0px) {
    .card1,
    .card2,
    .card3,
    .card4,
    .card5,
    .card6 {
        flex-basis: 100%;
    }
}

@media screen and (min-width: $medium) {
    .card1,
    .card2,
    .card3,
    .card4,
    .card5,
    .card6 {
        flex-basis: 33.3%;
    }
}

@media screen and (min-width: $extra-large) {
    .card1,
    .card2,
    .card3,
    .card4,
    .card5,
    .card6 {
        flex-basis: 25%;
    }
}

.card-content {
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(rgba(32, 42, 68, 0.75), rgba(0, 0, 0, 0.75));
    transform: translateY(72%);
    // background: rgba(32, 42, 68, 1);
    .card-title {
        position: relative;
        width: max-content;
        font-size: 20px;
        font-weight: bold;
        padding-bottom: 5px;
        &::after {
            content: "";
            position: absolute;
            height: 4px;
            width: calc(100% + (1.5rem));
            left: calc((1.5rem) * -1);
            bottom: 0;
            background-color: orangered;
            transform-origin: left;
            transition: transform 500ms ease;
        }
    }
    .card-body {
        padding-top: 10px;
        font-size: 14px;
        padding-bottom: 15px;
    }
}

@media (hover) {
    .card-content {
        transition: transform 500ms ease;
        transition-delay: 500ms;
    }
    .card1 {
        transition: transform 500ms ease;
    }
    .card1:hover {
        transform: scale(1.05);
    }
    .card1:hover .card-content {
        transform: translateY(0);
    }
    .card1-content>*:not(.card-title) {
        opacity: 0;
        transition: opacity 500ms linear;
    }
    .card1:hover .card1-content>* {
        opacity: 1;
    }
    .card1:hover .card-title::after {
        transform: scaleX(1);
    }
    .card-title::after {
        transform: scaleX(0);
    }
}

.a-button {
    text-decoration: none;
    width: 125px;
    .card-button {
        display: flex;
        width: 125px;
        // padding: 10px;
        padding: 5px 0px;
        justify-content: center;
        color: white;
        background-color: orangered;
        border-radius: 7px;
        text-decoration: none;
    }
    &:hover,
    &:focus {
        .card-button {
            background-color: white;
            color: orangered;
            text-decoration: underline;
        }
    }
}