.about-content {
    display: flex;
    flex-direction: column;
    height: 68%;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 5px;
    margin-top: 20px;
    border-bottom: 6px solid orangered;
    justify-content: space-between;
    p {
        font-size: 1.25rem;
        line-height: 1.4;
        text-align: center;
        padding-top: 5%;
        padding-right: 20px;
        padding-left: 20px;
        color: #151a1e;
    }
    .html-css-sass, .html-logo, .css-logo, .sass-logo {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-self: flex-end;
        margin-bottom: 15px;
        .html-logo {
            display: flex;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            background-color: #e75822;
            color: white;
            align-items: center;
            i {
                font-size: 45px;
            }
        }
        .css-logo {
            display: flex;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            background-color: #1b73ba;
            color: white;
            align-items: center;
            i {
                font-size: 45px;
            }
        }
        .sass-logo {
            display: flex;
            height: 60px;
            width: 60px;
            border-radius: 50%;
            background-color: #cd6699;
            color: white;
            align-items: center;
            i {
                font-size: 45px;
            }
        }
    }
}

.code-content {
    font-weight: bold;
    display: flex;
    height: 68%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    background-color: white;
    border-bottom: 6px solid orangered;
    border-radius: 5px;
    justify-content: center;
    h1 {
        display: flex;
        font-size: 60px;
        margin-top: auto;
        margin-bottom: auto;
    }
}

.scs-content {
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;
    div {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-bottom: 6px solid orangered;
        border-radius: 5px;
        margin-left: 20px;
        text-align: center;
        margin-top: 20px;
        width: 100%;
    }
    ul {
        margin: 0; 
        list-style-type: none;
        li {
            text-indent: -5px;
        }
        &> li:before {
            content: "-";
            text-indent: -5px;
        }
    }
}

.cards {
    display: flex;
    flex-direction: column;
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 20px;
    }
    .card1, .card2, .card3, .card4, .card5, .card6 {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        height: 315px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        border-bottom: 3px solid white;
        border-left: 3px solid white;
        border-right: 3px solid white;
        border-top: 3px solid white;
        border-radius: 5px;
        background-color: white;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        &:hover {
            border-bottom: 3px solid orangered;
        }
        p {
            font-size: 1.4rem;
        }
        a {
            display: flex;
            text-decoration: none;
            color: black;
            padding-bottom: 2px;
            padding-top: 3px;
            &:hover {
                text-decoration: underline;
            }
            p {
                font-size: 0.9rem;
                padding-right: 3px;
            }
            i {
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }
}

.card1 {
    background-image: url("../img/website1.png");
}

.card2 {
    background-image: url("../img/netmatters.png");
}

.card3, .card4, .card5, .card6 {
    background-image: url("../img/coming-5942155.jpg");
}

@media screen and (min-width: 0px) {
    .card1, .card2, .card3, .card4, .card5, .card6 {
        flex-basis: 100%;
    }
}

@media screen and (min-width: $medium) {
    .card1, .card2, .card3, .card4, .card5, .card6 {
        flex-basis: 33.3%;
    }
}

@media screen and (min-width: $extra-large) {
    .card1, .card2, .card3, .card4, .card5, .card6 {
        flex-basis: 25%;
    }
}