// Contacts Container
.contact-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    background-color: #151a1e;
    
    .touch, .form {
        padding: 20px;
        display: flex;
        color: white;
        // align-items: center;
    }
    
    .touch {
        flex-direction: column;
        h1 {
            font-weight: 900;
            font-size: 45px;
            padding-bottom: 20px;
        }
        p {
            font-size: 1.1rem;
        }
        .email-p {
            padding-top: 15px;
            padding-bottom: 15px;
            text-decoration: underline;
            a {
                color: white;
                &:hover {
                color: orangered;
                }
            }
        }
        
    }
    
    // Form Container
    .form-container {
        padding: 20px;
        display: flex;
        width: 100%;
        color: white;
    }
    
    // Form Element
    form {
        width: 100%;
    }
    
    .form-element {
        display: flex;
        width: 100%;
        input, textarea {
            width: 100%;
            margin-bottom: 20px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 5px;
            font-family: 'Roboto';
            border-radius: 20px;
            border: 3px solid white;
            &:focus {
                outline-color: orangered;
            }
            &:hover {
                border: 3px solid orangered;
                color: black;
            }
        }
        textarea {
            padding-bottom: 80px;
        }
    }
} 

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: orangered;
    color: white;
    height: 25px;
    width: 100px;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;
    &:hover {
        color: orangered;
        background-color: white;
    }
    p {
        text-align: center;
        font-size: 1rem;
        text-decoration: underline;
        text-decoration-color: orangered;
        font-weight: bold;
    }
    a {
        text-decoration: underline;
        text-decoration-color: orangered;
    }
}