*,
*::after,
*::before {
    box-sizing: border-box;
}

.main-container {
    display: flex;
}

//Makes the main section scroll and the nav stays put. This is used for vertical scrolling. 
main {
    //    overflow-y: scroll;
    overflow-x: hidden;
}

//The height and width of the main content. That all of the imformation is stored in. 
.main-content {
    min-height: 100vh;
    background-color: #202A44;
    border-right: 3px solid white;
    .small-banner {
        display: flex;
        flex-direction: column;
        border-bottom: 3px solid white;
        border-top: 3px solid white;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-color: white;
        height: 30vh;
        width: 100%;
        color: white;
        h1 {
            text-align: left;
            padding-left: 2vw;
            font-size: 100px;
            margin-top: auto;
            margin-bottom: auto;
            // text-align: center;
            font-family: 'Tangerine';
        }
    }
    .about {
        background-image: url("../img/aboutme2.jpeg");
        color: #202A44;
    }
    .code {
        background-image: url("../../img/CodingExamples2.jpeg");
        background-size: cover;
        // color: #7969ad;
        // color: orangered;
    }
}

.main-content-two {
    min-height: 100vh;
    background-color: #202A44;
    border-right: 3px solid white;
    .projects {
        font-size: 45px;
        padding-left: 20px;
        padding-top: 10px;
        color: white;
    }
}

.scs-style {
    min-height: 100vh;
    background-color: whitesmoke;
    border-right: 3px solid white;
    .small-banner {
        display: flex;
        flex-direction: column;
        border-bottom: 3px solid white;
        border-top: 3px solid white;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        background-color: white;
        height: 30vh;
        width: 100%;
        color: white;
        h1 {
            text-align: left;
            padding-left: 2vw;
            font-size: 120px;
            margin-top: auto;
            margin-bottom: auto;
            // text-align: center;
            font-family: 'Tangerine';
        }
    }
    .scs {
        background-image: url("../img/learning.jpeg");
        background-color: #0054af;
    }
}