.top-nav {
    display:none;
    height: 15vh;
    wdith: 100%;
    background-color: #151a1e;
    color: white;
    border-bottom: 3px solid white;
    ul {
        display:flex;
        flex-direction: row;
        list-style-type: none;
        flex-wrap: wrap;
        width: 100%;
        li {
            display: flex;
            flex-direction: row;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: 1;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}